<article>
    

    <section class="listing-features">
        <mat-card appearance="outlined">
            <mat-card-content>
                
                <label for="name">Name: {{productInterface?.name}}</label>
                    <li>Quantity: {{productInterface?.quantity}}</li>
                    <li>Unit Coast: {{productInterface?.unit_coast}}</li>
                    <li>Measure: {{productInterface?.measure}}</li>
                
                <button mat-flat-button (click)="deleteProduct()" type="submit" class="primary">Delete product</button>
            </mat-card-content>
        </mat-card>
    </section>

    
    <mat-card appearance="outlined">
        <mat-card-content>
            <h2 class="section-heading">Update information</h2>
            <form (submit)="updateProduct()">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name">
        
                <label for="quantity">Quantity</label>
                <input id="quantity" type="number" formControlName="quantity">
        
                <label for="unit_coast">Unit Coast</label>
                <input id="unit_coast" type="number" formControlName="unit_coast">

                <label for="measure">Measure</label>
                <input id="measure" type="number" formControlName="measure">
                <button mat-flat-button type="submit" class="primary">Update now</button>
            </form>
        </mat-card-content>
    </mat-card>
</article>